In [10]:
import pandas as pd

df = pd.read_csv('results/log.csv')
df = df.set_index('kernel')

df

       class    type               time
kernel
EP         S  serial  05/02/23-08:54:42
IS       NaN  serial  05/02/23-08:58:38
EP         S  serial  05/02/23-08:59:46
EP         W  serial  05/02/23-08:59:51